<head>
    <title>Go!</title>
    <script type = 'text/javascript' src = '/static/index.js'></script>
</head>

<body style = 'background-color: black;'>
    <div align = 'center'>
        <h1 style = 'color:white;'>Go!</h1>
        <br>
        <br>
        <form method='post'>
            <input id = 'query-in' name = 'query' type = 'text' placeholder = 'Search something' style = 'background-color:black; color: yellow;'>
            <br>
            <input type ='submit' value = 'Search' style = 'background-color:black; color: yellow;'>
        </form>
    </div>
</body>